In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pph_2013 = pd.read_excel('PPH2013.xlsx', sheet_name="POLA KONSUMSI(2013-I)")
pph_2013.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,KANTOR KETAHANAN PANGAN KABUPATEN BANJAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,KABUPATEN BANJAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,JL.A.YANI KM 40 GEDUNG BERINTAN LT II MARTAPURA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pph_2013.shape

(1791, 23)

In [6]:
pph_2013.iloc[6:]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
6,NaN,NaN,POLA KONSUMSI PANGAN WILAYAH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Wilayah,NaN,Karbohidrat,NaN,Protein Hewani,NaN,NaN,Protein Nabati,...,NaN,NaN,NaN,NaN,NaN,BUAH 1,BUAH 2,SAYUR 1,SAYUR 2,NaN
8,NaN,NaN,Desa Bawahan Pasar,NaN,"Beras, Terigu,",NaN,"Ikan , Daging Ruminansia, Daging Unggas, Telur...",NaN,NaN,"Kacang Tanah, Kacang Kedelai, Kacang Merah",...,NaN,NaN,NaN,NaN,NaN,"Nangka masak, Pepaya masak, Pisang, ,",NaN,"Daun singkong, Kacang panjang,",NaN,NaN
9,NaN,NaN,Desa Mandi Kapau Timur,NaN,"Beras, Terigu,",NaN,"Ikan , Daging Ruminansia, Daging Unggas, Telur,",NaN,NaN,"Kacang Tanah, Kacang Kedelai,",...,NaN,NaN,NaN,NaN,NaN,"Pisang kepok,",NaN,NaN,NaN,NaN
10,NaN,NaN,Desa Sungai Besar,NaN,"Beras, Jagung,",NaN,"Ikan , Daging Ruminansia, Daging Unggas, Telur,",NaN,NaN,"Kacang Tanah, Kacang Kedelai,",...,NaN,NaN,NaN,NaN,NaN,"Pepaya masak, Pisang kepok,",NaN,"Daun singkong, Kacang panjang, Labu waluh,",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,549.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,550.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,551.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,552.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pph_2013 = pph_2013.iloc[6:]
pph_2013.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
6,NaN,NaN,POLA KONSUMSI PANGAN WILAYAH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Wilayah,NaN,Karbohidrat,NaN,Protein Hewani,NaN,NaN,Protein Nabati,...,NaN,NaN,NaN,NaN,NaN,BUAH 1,BUAH 2,SAYUR 1,SAYUR 2,NaN
8,NaN,NaN,Desa Bawahan Pasar,NaN,"Beras, Terigu,",NaN,"Ikan , Daging Ruminansia, Daging Unggas, Telur...",NaN,NaN,"Kacang Tanah, Kacang Kedelai, Kacang Merah",...,NaN,NaN,NaN,NaN,NaN,"Nangka masak, Pepaya masak, Pisang, ,",NaN,"Daun singkong, Kacang panjang,",NaN,NaN
9,NaN,NaN,Desa Mandi Kapau Timur,NaN,"Beras, Terigu,",NaN,"Ikan , Daging Ruminansia, Daging Unggas, Telur,",NaN,NaN,"Kacang Tanah, Kacang Kedelai,",...,NaN,NaN,NaN,NaN,NaN,"Pisang kepok,",NaN,NaN,NaN,NaN
10,NaN,NaN,Desa Sungai Besar,NaN,"Beras, Jagung,",NaN,"Ikan , Daging Ruminansia, Daging Unggas, Telur,",NaN,NaN,"Kacang Tanah, Kacang Kedelai,",...,NaN,NaN,NaN,NaN,NaN,"Pepaya masak, Pisang kepok,",NaN,"Daun singkong, Kacang panjang, Labu waluh,",NaN,NaN

In [12]:
pph_2013.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 
               'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
              'Unnamed: 17'], axis=1)

,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
6,POLA KONSUMSI PANGAN WILAYAH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Wilayah,Karbohidrat,Protein Hewani,Protein Nabati,Lemak,Vitamin dan Mineral,BUAH 1,BUAH 2,SAYUR 1,SAYUR 2,NaN
8,Desa Bawahan Pasar,"Beras, Terigu,","Ikan , Daging Ruminansia, Daging Unggas, Telur...","Kacang Tanah, Kacang Kedelai, Kacang Merah","Minyak kelapa,","Nangka masak, Pepaya masak, Pisang, , Daun sin...","Nangka masak, Pepaya masak, Pisang, ,",NaN,"Daun singkong, Kacang panjang,",NaN,NaN
9,Desa Mandi Kapau Timur,"Beras, Terigu,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Tanah, Kacang Kedelai,","Minyak kelapa, Kelapa,","Pisang kepok,","Pisang kepok,",NaN,NaN,NaN,NaN
10,Desa Sungai Besar,"Beras, Jagung,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Tanah, Kacang Kedelai,","Minyak sawit,","Pepaya masak, Pisang kepok, Daun singkong, Kac...","Pepaya masak, Pisang kepok,",NaN,"Daun singkong, Kacang panjang, Labu waluh,",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN